.container{
  background: rgb(255,28,128);
  background: linear-gradient(186deg, rgba(255,28,128,0.7678100263852243) 0%, rgba(196,135,48,1) 47%, rgba(77,208,192,0.6517150395778364) 100%);
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

#robogerResult {
  color: white;
}
#robogerOutput{
  display: none;
}